<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Science and Technology Standards Compliance Checkup System</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Free HTML Templates" name="keywords">
  <meta content="Free HTML Templates" name="description">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Template Stylesheet -->
  <style>
    /* Custom Styles */

    .display-5 {
      font-size: 2.5rem;
      font-weight: bold;
      color: #f2eeee;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 30px;
      text-transform: uppercase;
    }
    .service-item {
      transition: transform 0.3s;
    }

    .service-item:hover {
      transform: translateY(-10px);
    }

    /* Adjust the styles as needed */
    .form-container {
      display: none;
      padding: 5px;
      background-color: #f8f9fa;
      border-radius: 5px;
      margin-top: 20px;
    }

    body{
      font-family: Arial, sans-serif;
      background-color: #383d41;
      padding: 20px;
      margin: 0;
    }
    h1{
      color: #0c5460;
    }
  </style>
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
<h1 style="color: #0c5460" class="display-5">Buying Online Insurance</h1>
<hr>
<!-- Services Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="row g-5">
      <!-- <div class="col-lg-4 col-md-6">
        <div class="mb-3">
          <h6 class="text-primary text-uppercase">Services</h6>
          <h6 class="display-4">Support</h6>
          <hr>
        </div>
        <p class="mb-4">If you have any questions or require assistance regarding the Science and
          Technology Standards Compliance Checkup System project, please don't hesitate to contact us.
           Our dedicated team is ready to provide support and address any inquiries you may have.
            We are here to ensure a smooth and successful implementation of the system.
             Feel free to reach out to us, and we'll be happy to help!.</p>
        <a href="" class="btn btn-primary py-md-3 px-md-5">Contact Us</a>
      </div> -->
      <div class="col-lg-4 col-md-6">
        <div class="service-item bg-light text-center p-5">
          <a href="checkoutCart2.html">
            <img class="w-100" src="images/car.png" alt="Image">
          </a>
          <h4> Insurance</h4>
          <p class="mb-0">Request Car insurance.
            .</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item bg-light text-center p-5">
          <a href="checkoutCart2.html">
            <img class="w-100" src="images/moto.png" alt="Image">
          </a>
          <h4>Insurance</h4>
          <p class="mb-0"> Request Moto insurance.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item bg-light text-center p-5">
          <a href="#">
            <img class="w-100" src="images/medical.png" alt="Image">
          </a>
          <h4>Medical insurance</h4>
          <p class="mb-0">Insurance for health  </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item bg-light text-center p-5">
          <a href="insuranceLicense2.html">
            <img class="w-100" src="images/insuranceValid.png" alt="Image">
          </a>
          <h4>Checking insurance</h4>
          <p class="mb-0">insurance validate </p>

        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item bg-light text-center p-5">
          <a href="payment2.html">
            <img class="w-100" src="images/payment.png" alt="Image">
          </a>
          <h4>Payment</h4>
          <p class="mb-0">Payment insurance.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item bg-light text-center p-5">
          <a href="#">
            <img class="w-100" src="images/house.png" alt="Image">
          </a>
          <h4>House life </h4>
          <p class="mb-0">House insurance life.</p>
        </div>
      </div>



    </div>
  </div>
</div>
<!-- Services End -->



<!-- Back to Top -->
<a href="AssessmentInstitution_dashboard.html" class="btn btn-secondary py-3 fs-4 back-to-top">Back<i class="bi bi-arrow-up"></i></a>


<!-- Template Javascript -->
<script src="js/main.js"></script>
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  // JavaScript to toggle form visibility
  $(document).ready(function() {
    $('.service-link').click(function(e) {
      e.preventDefault();
      $(this).siblings('.form-container').slideToggle();
    });
  });
</script>
</body>



</html>